{% extends '../visthuset_base.html' %}

{% load rest_framework %}

{% block title %}<title>{{ page.title }}</title>{% endblock %}

{% block content %}

<section class="row">
	<div class="col-xs-11 col-md-11 col-offset-1 centered" >
		<h1>{{ page.headline }}</h1>
		{{ page.ingress | safe }}
	</div>
	{% for text in texts %}
	<div class="col-s-12 col-md-5">
		<h2>{{ text.headline }}</h2>
		{% if text.image %}
		<img class="img-responsive col-s-12 col-md-3" src="/{{ text.image }}" alt="{{ text.image_alt }}">
		{% endif %}
		<p>{{ text.text | safe }}</p>
	</div>
	{% endfor %}
	
	<div class="col-xs-11 col-md-5 col-offset-1 centered" style="padding-bottom: 5%;">
		{{ message }}
		<form action="" method="post" >
			{% csrf_token %}
			{% for field in form %}
		    <!--  <div class="form-group">-->
		        {{ field.errors }}
		        {{ field.label_tag }}<br>
		        {{ field }}<br>
		        {% if field.help_text %}
		        <p class="help">{{ field.help_text|safe }}</p>
		        {% endif %}
		    	
			{% endfor %}
			<input type="submit" class="btn btn-secondary" value="Boka!"/>
		</form>
	</div>
</section>
{% endblock %}
{% render_form serializer template_pack='rest_framework/vertical' %}