{% extends '../visthuset_base.html' %}

{% block title %}<title>{{ page.title }}</title>{% endblock %}

{% block content %}
<section class="row">
	<div class="col-xs-11 col-md-11 col-offset-1 centered" >
		<h1>{{ page.headline }}</h1>
		{{ page.ingress | safe }}
	</div>
	{% for package in packages %}
	<div class="col-s-12 col-md-5">
		<h2>{{ package.text.name }}</h2>
		{% if package.image %}
		<img class="img-responsive col-s-12 col-md-3" src="/{{ package.image }}" alt="{{ package.image_alt }}">
		{% endif %}
		{% for day in package.days %}
		<p>{{ day.text | safe }}</p>
		{% endfor %}
	</div>
	{% endfor %}
</section>
{% endblock %}