{% extends '../visthuset_base.html' %}

{% block title %}<title>{{ page.title }}</title>{% endblock %}

{% block content %}
<section class="row">
	<div class="col-xs-11 col-md-11 col-offset-1 centered" >
		<h1>{{ page.headline }}</h1>
		{{ page.ingress | safe }}
	</div>
	{% for package in packages %}
	<div class="col-s-12 col-md-6">
		<h2 class='text-info'>{{ package.title }}</h2>
		<img class="img-responsive" src="{{ package.image }}" alt="{{ package.image_alt }}">
		<a href="{% url 'database:package' package.slug %}" class='btn btn-primary'>Läs mer och boka!</a>
	</div>
	{% endfor %}
</section>
{% endblock %}