.navbar-default {
  background-color: lightblue;
  background-image: none;
  background-repeat: no-repeat;
  margin: 10px;
  margin-bottom: 0px;
  font-size: 1.5em;
  }
  
.navbar-default button {
  border:none;
  }

.navbar-default button:hover {
    background-color: lightblue;
  }

.navbar-brand {
    font-size: 1.0em;
  }
