header {
	background-color: lightblue;
  padding: 20px;
  }	
.navbar-default {
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: no-repeat;
  margin: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 1.5em;
  }
.navbar-default button {
  border: none;
  }

.navbar-default button:hover {
    background-color: #FFFFFF;
  }
.navbar-brand {
    font-size: 1.0em;
  }
/* old colorcode #434434 */