a {
	color: black;
}

body {
	font-family: optima, areal, helvetica;
	background-image: url("background.jpg");
	background-color: lightblue;
	max-width: 1200px;
}

.container-fluid {
	background-color: lightblue;
}
	
header {
	background-color: whitesmoke;
  	padding: 35px;
  	padding-top: 20px;
  }	
  
.slide {
	margin: -35px;
	margin-top: -20px;
	margin-bottom: 0px;
}
section {
  background-color: whitesmoke;
  padding-top: 0px;
  }
section p {
  font-size: 1.3em;
  color: black;
  } 
section h3 {
  color: black;
  } 
@media screen and (max-width: 900px) {
  section {
    text-align: center;
    }
   
  section p img {
  	width: 100%;
  }
}
@media screen and (min-width: 900px) {
  section img {
    margin-top: 30px;
    }
  section p img {
  	float: right;
  }
}
section div {
  padding: 20px;
  }
section .img-hover img {
    -webkit-transition: all .6s ease; /* Safari and Chrome */
  	-moz-transition: all .6s ease; /* Firefox */
  	-o-transition: all .6s ease; /* IE 9 */
  	-ms-transition: all .6s ease; /* Opera */
  	transition: all .6s ease;
  }
section .img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:translatZ(0) scale(1.05); /* Opera */
    transform:translatZ(0) scale(1.05);
	}
   
section .grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
  }

.imageholder{position:relative; padding: 0px;}

.watermark {
    position:absolute;
    color: white;
    font-size: 1.5em;
    text-align: center;
    bottom: 10px;
    right: 2.5%;
    border-radius: 10px;
    background-color:rgba(0,0,0,.4);
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
	}
.watermark hr {
	margin: 0px;
	}

footer {
  margin-bottom: 50px;
  }

footer div {
  margin: 0 auto;
  text-align: center;
  align: center;
  }

@media screen and (max-width: 900px) {
  footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    }
}

@media screen and (min-width: 900px) {
    footer img {
      margin: 0 auto;
      padding: 20px;
      display: block;
      margin: auto; 
    }
  }