html {
	background-size: 100%;
}

body {

	font-family: Optima, Geneva, sans-serif;
	color: white;
	text-align: center;
}

header {
	margin-left: 5%;
}

main {
	margin-left: 5%;
	display: block;
}

a:visited{
	color: rgb(0,0,0);
}

section {
	display: inline-block;
	float: left;
	padding: 0 10%;
	
}
.api-container {
	background-color: rgb(255,255,255);
	float: left;
	box-sizing: border-box;
	width: 38%;
	display: inline-block;
	height: 600px;
	border: 5px solid black;
	margin: 0 5%;
	-webkit-transition: width 0.5s height 0.5s;
	transition: ease-in 0.5s;
}

.imgcontainer {
	align: center;
	width: 96%;
	padding: 2%;
}

.topicimg {
	width: 96%;
	shape-inside: auto;
	margin: 0 auto;
	padding: 2%;
	}