{% extends '../visthuset_base.html'%}

{% block title %}<title>{{ page.title }}</title>{% endblock %}

{% block content %}
<section class="row">
		<div class="col-md-12">
		<h1>{{ page.headline }}</h1>
		{{ page.ingress | safe }}
	</div>
	{% for text in texts %}
	<div class="col-s-12 col-md-6">
		<h2>{{ text.headline }}</h2>
		{% if text.image %}
		<img class="img-responsive col-s-12 col-md-3" src="{{ text.image.url }}" alt="{{ text.image_alt }}">
		{% endif %}
		<p>{{ text.text | safe }}</p>
	</div>
	{% endfor %}
	<div class="col-s-12 col-md-4 col-lg-4">
		{% include '../social_snippets/facebook_box.html' %}
	</div>
</section>

<section class="row">
	<div class="col-s-12 col-md-12 col-lg-4">
		{% include '../social_snippets/tripadvisor_review.html' %}
	</div>
	
	<div class="col-s-12 col-md-12 col-lg-4"><!-- Instagram snippet --></div>
	
	<div class="col-s-12 col-md-12 col-lg-4"></div>
</section>

{% endblock %}