{% extends '../visthuset_base.html'%}

{% block title %}<title>{{ page.title }}</title>{% endblock %}

{% block content %}
<section class="row" style="padding-bottom: 5%;">
	<div class="col-md-12">
		<h1>{{ page.headline }}</h1>
		{{ page.ingress | safe }}
	</div>
	{% for text in texts %}
	<div class="col-s-12 col-md-5 centered">
		<h2>{{ text.headline }}</h2>
		{% if text.image %}
		<img class="img-responsive col-s-12 col-md-3" src="/{{ text.image }}" alt="{{ text.image_alt }}">
		{% endif %}
		<p>{{ text.text | safe }}</p>
	</div>
	{% endfor %}
	<div class="col-xs-12 col-md-6" align="center">
		{% include '../social_snippets/google_maps.html' %}
	</div>
</section>

{% endblock %}