{% extends '../visthuset_base.html'%}

{% block title %}<title>Cafe Visthuset - kontakt</title>{% endblock %}

{% block content %}

<section class="row">
	<div align="center">
		<h1 class="col-md-12">Kontakta oss!</h1>
		<p>Telefon: 0506 - 77 75 50</p>
	   <br>
	   <adress>
		   	<p> Adress:<br>
		       Kanalvägen 2<br>
		       545 30 Töreboda
		 	</p>
	   </adress>
	   <p> 
	       <a href="mailto:info@cafevisthuset.se">Visthusets e-post</a><br>
	   </p>
	   <br>
	</div>
</section>

{% endblock %}