{% extends '../visthuset_base.html' %}

{% block title %}<title>Cafe Visthuset - Vår meny</title>{% endblock %}

{% block content %}
<div style="padding-top:40px; margin-top:30px; margin-left:30px; margin-bottom:30px; background-color:#; border-style:solid; border-width:2px; border-radius:15px; border-color:#a33000;">        
   <div align="center">          
      <div style="color:#827f00;">            
      <p>På Café Visthuset i Töreboda serverar vi ett brett sortiment.                
    	Oavsett om du är, fikasugen eller hungrig på något matigare,                
    	vill ha något svalkande kallt eller något värmande, så har vi                
    	något för dig! <br />              
      </p>            
      <p>Nedan kan du ta del av vårt utbud. <br /></p>          
      </div>
   </div>      
</div>      

<div style="padding-top:20px; margin-top:30px; margin-left:30px; margin-bottom:30px; background-color:#; border-style:solid; border-width:2px; border-radius:15px; border-color:#827f00;">        
	<h3 style="padding:20px;"> Riktigt gott kaffe! </h3>          
        <div align="center">            
           <div style="color:#827f00;">              
           	<p>Vi tycker det är viktigt med kvalitet i det vi serverar. Därför                
           	vill vi satsa på kärnan i caféet, nämligen kaffet. Med olika                
           	bryggmetoder som på olika sätt lyfter kaffets smaker vill vi                
           	dela med oss av en kaffeupplevelse och förmedla kaffekunskap. Vi                
           	samarbetar med Johan och Nyström Kafferostare och Tehandlare.                
           	Kaffet är certiferat enligt Fairtrade eller Direct Trade, vilket                
           	är Johan och Nyströms märkning där en stabil handelsrelation och                
           	bra betalt är viktigt, precis som miljösatsningar. Allt för att                
           	vi ska kunna servera Törebodas bästa kopp kaffe!</p>              
                 
       		<table style="width: 100%; border: 0;">  
        
        	<tr style="text-align:center;font-size: 1.2em; ">                    
                         
        		<td colspan="4">Kaffemeny</td>
        	</tr>  
        
        	<tr>
            	<td colspan="4"><br></td>
        	</tr>
        
        	<tr valign="top" style="font-size: 1.2em;">                    
        		<td width="40%">Bryggkaffe<br>                      
        			Handbrygg<br>                      
        			Espresso<br>                      
        			Cappuccino<br>                      
        			Latte              
        	</td>                    
        
        	<td width="10%">
            		24:-<br>                      
            		35:-<br>                      
            		28:-<br>                      
            		30:-<br>                      
            		35:- </td>  
            
            <td width="30%">Te<br>                      
            		Varm choklad<br>                      
            		Chailatte</td>                    
            
            <td width="20%">
                20:-<br>                      
                25:-<br>                      
                35:- </td>
             </tr>  
        <tr>
            <td colspan ="4"><br></td>
        </tr>
        
        <tr style="font-size: 1.2em;">
        <td colspan="4"><br></td>
        </tr> 
        </table>           
        
        <br>            
        
        <p>Om du vill ta med dig vår goda kaffeupplevelse hem så finns bönorna att köpa
        med sig hem i vår butik, hela eller malda. <br>
        <br>                
        Läs mer om vårt kaffe på <a href="www.johanochnystrom.se">www.johanochnystrom.se</a><br>                
        <br>              
        </p>              
        <br>            
    	</div>          
	</div>      
</div>  
{% endblock %}