{% extends 'visthuset_base.html' %}
{% load static %}
{% block titel %}Cykla längs Göta kanal!{% endblock %}
{% block content %}
	<section class="row">
		<a href="{% url 'database:bike_booking' %}">
			<div class="col-xs-12 col-md-4 img-hover">
				<img class="img-responsive img-rounded" src="{% static 'img/cyklar.jpg' %}" alt="Kolla in vår dokumentation!" width="100%"/>
				<h3 top="100%">Hyr cykel!</h3>
			</div>
		</a>
		<a href="{% url 'database:package_list' %}">
			<div class="col-xs-12 col-md-4 img-hover">
    			<img class="img-responsive img-rounded" src="{% static 'img/cykel_paket.jpeg' %}" alt="Logga in!" width="100%"/>
				<h3>Våra cykelpaket</h3><br>
			</div>
		</a>
	</section>
{% endblock %}