<div id="TA_restaurantWidgetGreen324" class="TA_restaurantWidgetGreen">
<ul id="2MWJu5Ao" class="TA_links 5FMNjiy">
<li id="CJX1K5Uu4T" class="is1XEIZR1">
<a target="_blank" href="https://www.tripadvisor.se/"><img src="https://www.tripadvisor.se/img/cdsi/partner/tripadvisor_logo_117x18-24177-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>


<!--  <div id="TA_socialButtonBubbles818" class="TA_socialButtonBubbles">
<ul id="Foo21QcmvYeE" class="TA_links vz9I8wRsJNI">
<li id="n9vRrlJXFA9B" class="11iEEc">
<a target="_blank" href="https://www.tripadvisor.se/Restaurant_Review-g666408-d6985659-Reviews-Cafe_Visthuset-Toreboda_Vastra_Gotaland_County_West_Coast.html"><img src="https://www.tripadvisor.se/img/cdsi/img2/branding/socialWidget/20x28_green-21693-2.png"/></a>
</li>
</ul>
</div>
-->