<p>Hej {{ first_name }}!</p>

<p>Tack för att du bokar cyklar hos oss!<br>
Om du har några frågor kring din bokning eller undrar över något annat går det bra att svara på det här mejlet,<br>
eller rings oss på 0506 - 77 75 50.</p>

<p>Bokningsnummer: {{ booking_number }}<br>
Startdag: {{ start_date }}<br>
Antal dagar: {{ duration }}<br>
Antal vuxna: {{ adults }}<br>
Antal barn: {{ children }}</p>

<p>I din bokning ingår följande:</p>

<p>{{ included_bikes }}</p>

<p>{{ included_lunches }}</p>

<br>

<p>Välkommen till Cafe Visthuset och Göta kanal!</p>

