{% load static %}
<div>
	<div>
	<p>
		<a href="{% url 'api_index' %}">API</a><br>
	</p>
	</div>
	
	<div>
		<a target="_blank" href="http://www.gotakanal.se/sv/officiell-partner-gota-kanal/">
			<img src="{% static 'img/footer/gk_officiell_partner.jpg' %}" class="footer-img" alt="Officiell partner Göta kanal" width="50%" style="margin-right:1%;"></a>
		<a target="_blank" href="http://www.vastsverige.com/b/107764/Caf-Visthuset">
			<img src="{% static 'img/footer/vastsverige_svensk.jpg' %}" class="footer-img" alt="Visthuset är en del av Västsverige" width="100%""></a>
	</div>
	
	<div>
		<h3 class="foot">Kontakta oss!</h3>
    		<p>
    		<adress>
        		Café Visthuset<br>
        		Kanalvägen 2, Töreboda<br>
        		+46 (0)506 - 77 75 50<br>
    		</adress><br>
      	<a href="mailto:info@cafevisthuset.se">info@cafevisthuset.se</a><br>
      	<a href="{% url 'visthuset_index' %}">www.cafevisthuset.se</a><br>
      	<a href="http://www.cyklagotakanal.se">www.cyklagotakanal.se</a>
    		</p>
	</div>
</div>