{% load compress %}
{% load static %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ckeditor-init.js' %}"></script>

<!-- Tripadvisor -->
<!--  <script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=818&amp;locationId=6985659&amp;color=green&amp;size=rect&amp;lang=sv&amp;display_version=2"></script> -->
<script src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=525&amp;locationId=6985659&amp;lang=sv&amp;lang=sv&amp;display_version=2"></script>
<script src="https://www.jscache.com/wejs?wtype=restaurantWidgetGreen&amp;uniq=324&amp;locationId=6985659&amp;icon=cupOfCoffee&amp;lang=sv&amp;display_version=2"></script>

<!-- Browser sync -->
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.6'><\/script>".replace("HOST", location.hostname));
//]]></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endcompress %}