{% load static %}
<div>
  <div class="textcontainer">
      <h1><a href="{% url 'visthuset_index' %}">Visthuset</a></h1>
      <h2><span> - En lummig mötesplats vid Göta Kanal</span></h2>
  </div>
  <div class="imagecontainer">
        <img alt="" class="navimg" src="{% static 'img/navbar/Ros.jpg' %}" />
        <img alt="" class="navimg" src="{% static 'img/navbar/Glass.jpg' %}" />
        <img alt="" class="navimg" src="{% static 'img/navbar/Cheesecake.jpg' %}" />
        <img alt="" class="navimg" src="{% static 'img/navbar/Grillad.jpg' %}" />
        <img alt="" class="navimg" src="{% static 'img/navbar/Diana.jpg' %}" />
  </div>
</div>

<div>
    <ul>
      <li><a href="{% url 'visthuset_index' %}" accesskey="1" title="" id="current">Hem</a></li>
      <li><a href="{% url 'menu' %}" accesskey="2" title="">Meny</a></li>
      <li><a href="{% url 'calendar' %}" accesskey="3" title="">Kalender</a></li>
      <li><a href="{% url 'events' %}" accesskey="4" title="">Evenemang</a>
      <ul>
        <li><a href="http://www.cafevisthuset.se/Konstrunda.html">Konstrunda</a></li>
        <li><a href="http://www.cafevisthuset.se/Loppis.html">Sveriges                längsta loppis Töreboda</a></li>
        <li><a href="http://www.cafevisthuset.se/Musikkvallar.html">Musikkvällar</a></li>
        <li><a href="http://www.cafevisthuset.se/Julmarknad.html">Julmarknad</a></li>
      </ul></li>

      <li><a href="{% url 'database:bike_booking' %}" accesskey="6" title="">Cykeluthyrning</a></li>
      <li><a href="{% url 'about' %}">Om oss</a></li>
      <li><a href="{% url 'contact' %}" accesskey="7" title="">Kontakt</a></li>
      </ul>
  </div>

<!--      <li><div class="langcontainer">
          <img id="lang_icon_sv" src="http://cafevisthuset.se/images/Sweden.png" />
          <a href="http://cafevisthuset.se/de/">
            <img id="lang_icon_de" src="http://cafevisthuset.se/images/germany.png" /></a>
          <a href="http://cafevisthuset.se/en/">
            <img id="lang_icon_en" src="http://cafevisthuset.se/images/United_Kingdom.png" /></a>
          </div></li> -->
