<div class="row">
	<nav class="navbar navbar-default">
    	<div>
        	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                </button>
                <p class="navbar-brand" href="#">Navigera |</p>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            	<ul class="nav navbar-nav">
                  <li><a href="{% url 'visthuset_index' %}">Visthuset</a></li>
                  <li><a href="{% url 'meny' %}">Meny</a></li>
                  <li><a href="{% url 'events:event' %}">Evenemang</a></li> 
                  <li><a href="{% url 'uthyrning' %}">Cykeluthyrning</a></li>
                  <li><a href="{% url 'about' %}">Om oss</a></li>
                  <li><a href="{% url 'contact' %}">Kontakta oss!</a></li>
                </ul>
            </div>
        </div>
	</nav>
</div>