{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="sv">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	{% block title %}{% endblock %}
    	{% include 'stylesheets.html' %}
    </head>
	<body class="container-fluid">
		{% block header %}{% endblock %}
    	<main>
    	{% block content %}
		  {% endblock %}
    	</main>

    </body>
		{% include 'javascripts.html' %}
		{% block javascripts %}{% endblock %}
		{% include 'footer.html' %}
</html>
